@charset "utf-8";
/* CSS Document */
/* Authors: Justin Fairbourn and Scott Ensign */
/* Created at Utah State University with support from the Chemistry department and the Center for Innovative Design and Instruction.*/
body {
	font-family: Arial;
	background-color: darkgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
header {
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
}
h3, h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
img {
	align-self: center;
	max-height: 150px;
	max-width: 150px;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	position: relative;
}
p {
	margin-top: 5px;
	margin-bottom: 5px;
}
sup {
	vertical-align: top;
	font-size: 0.6em;
}
#controls {
	display: flex;
	flex-direction: column;
}
#instruction {
	display: flex;
	flex-direction: row;
}
#name {

	font-size: 35px;
	font-weight: bold;
}
#window {
	/* Re-size this to match the dimensions of the info variable in jsmol html pages */
	height: 500px;
	width: 500px;
}
.app {
	align-self: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 7px 7px 5px black;
	margin: 5px;
	padding: 6px;
}
.molecule {
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.notes {
	align-self: flex-start;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	max-width: 320px;
	max-height: 610px;
	overflow: auto;
	padding: 10px;
}
.multi {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.option {
	display: flex;
	margin-top: 3px;
	margin-bottom: 3px;
	white-space: nowrap;
}
.option > button {
	margin-left: 2px;
	margin-right: 2px;
}
.option > * {
	padding-left: 2px;
	padding_right: 2px;
}
.option > strong {
	text-align: right;
	width: 150px;

}