@charset "utf-8";
/* CSS Document */
body {
	font-family: Arial;
	background-color: darkgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
header {
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
}
h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}
#controls {
	display: flex;
	flex-direction: column;
}
#name {

	font-size: 35px;
	font-weight: bold;
}
#window {
	height: 500px;
	width: 500px;
}
.app {
	align-self: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 7px 7px 5px black;
	margin: 5px;
	padding: 6px;
}
.molecule {
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.notes {
	align-self: flex-start;
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 300px;
	max-height: 637px;
	overflow: scroll;
	padding: 10px;
}
.multi {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.option {
	display: flex;
	margin-top: 3px;
	margin-bottom: 3px;
	white-space: nowrap;
}
.option > button {
	margin-left: 2px;
	margin-right: 2px;
}
.option > strong {
	text-align: right;
	width: 150px;

}