@charset "utf-8";
/* CSS Document */
body {
	font-family: Arial;
	background-color: darkgray;
}
#controls {
	width: 500px;
}
#name {

	font-size: 35px;
	font-weight: bold;
}
#window {
	height: 500px;
	width: 500px;
}
.app {
	align-self: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 7px 7px 5px black;
	margin: 5px;
	padding: 6px;
}
.molecule {
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.multi {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.option {
	display: flex;
	margin-top: 3px;
	margin-bottom: 3px;
}
.option > strong {
	text-align: right;
	flex-basis: 150px;
}