@charset "utf-8";
/* CSS Document */
body {
	/* Just to differentiate between live and my version. */
	background-color: lightgrey
}
h2 {
	color: #000099;
	text-align: center;
}
img {
	align: middle;
	margin: 2px;
	max-height: 150px;
    max-width: 150px;
}
table {
	width: 100%;
}
table, th, td {
	border: 1px solid black;
}
th, td {
	padding: 5px;
}
th {
	align: left;
	/* 'valign' was deprecated in HTML5 */
	vertical-align: bottom;
}
td {
	font-size: 20px;
	vertical-align: top;
}
td:nth-child(6), td:nth-child(8){
	text-align: center;
}
.linear{
	background-color: #FFCCCC;
}
.octahedral {
	background-color: #99FFFF;
}
.tetrahedral{
	background-color: #BFFFBF;
}
.tri_bipyramidal {
	background-color: #FFFFCC;
}
.trigonal_planar{
	background-color: #C6C6FF;
}