@charset "utf-8";
/* CSS Document */
/* Authors: Justin Fairbourn and Scott Ensign */
/* Created at Utah State University with support from the Chemistry department.*/
body {
	font-family: Arial;
	background-color: darkgray;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	
}
footer {
  width: 600px;
  padding: 10px;
}
header {
	display: flex;
	text-align: center;
	justify-content: center;
  align-content: center;
  width: 600px;
}
sup {
	vertical-align: top;
	font-size: 0.6em;
}
#name {
  width: 100%;
  font-size: 35px;
	font-weight: bold;
}
#window {
	/* Re-size this to match the dimensions of the info variable in jsmol html pages */
	height: 500px;
	width: 500px;
}
.app {
	align-self: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 7px 7px 5px black;
	margin: 5px;
	padding: 6px;
}
.molecule {
	align-content: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}